<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UNTIRTA</title>
  
</head>
<body>
  <div class="logo"><a href="#">UNTIRTA</a></div>
  <nav class="menu">
    <ul>
        <li><a href="/universitas">UNTIRTA</a></li>
          <li><a href="/faperta">FAPER</a></li>
          <li><a href="/feb">FEB</a></li>
          <li><a href="/fh">FH</a></li>
          <li><a href="/fisip">FISIP</a></li>
          <li><a href="/fk">FK</a></li>
          <li><a href="/fkip">FKIP</a></li>
          <li><a href="/ft">FT</a></li>
          <li><a href="/pascasarjana">PASCASARJANA</a></li>
      

  </ul> 

</nav>
  
</body>
</html>